# Python cache
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Local files
README.local.md

# Environment variables
.env

# SQLite database
storage/pychronicle.db
# Local SQLite database
timeline.db
